.widget.widget--feature-link {
    & figure {
        padding: 0 35px 0 0;

        @media screen and (max-width: 992px) {
            padding-right: 0;
        }

        a {
            padding-top: 50px;
            display: block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 17px;
            line-height: 17px;
        }

        & img {
            width: 100%;
        }

        & figcaption {
            display: block;
            padding-bottom: 20px;
            font-weight: bold;
        }
    }
}