.widget.widget_nav_menu {
    & .widget-title {
        display: block;
        margin: 0;
        padding: 20px 0 0 0;
        font-size: 16px;
        line-height: 16px;
        color: $brand-grayish;
        font-weight: 500;
        text-transform: uppercase;
    }

    & .menu-social-navigation-container {
        display: block;
        margin: 0;
        padding: 0;

        & > ul {
            display: block;
            margin: 42px 0;
            padding: 0;
            list-style: none;
            text-align: center;

            & > li {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin: 0 9px;
                padding: 0;
                border-radius: 50%;
                background: #000;
                list-style: none;

                & > a {
                    display: block;
                    font-size: 0;
                    line-height: 0;
                    text-decoration: none;

                    &:before {
                        @include fa-icon();

                        display: block;
                        width: 46px;
                        height: 46px;
                        font-size: 24px;
                        line-height: 46px;
                        color: #fff;
                        content: "";
                        text-align: center;
                    }
                }

                &.facebook {
                    background-color: #4a6fca;

                    & > a {
                        &:before {
                            content: $fa-var-facebook-f;
                        }
                    }
                }

                &.twitter {
                    background-color: #17adee;

                    & > a {
                        &:before {
                            content: $fa-var-twitter;
                        }
                    }
                }

                &.linkedin {
                    background-color: #178bc8;

                    & > a {
                        &:before {
                            content: $fa-var-linkedin;
                        }
                    }
                }

                &.gplus {
                    background-color: #CD3E3E;

                    & > a {
                        &:before {
                            content: $fa-var-google-plus;
                        }
                    }
                }
            }
        }
    }

    & .menu-voled-resources-container {
        padding-top: 60px;
        padding-bottom: 60px;

        & > ul {
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                display: block;
                float: left;
                margin: 0 15px 0 0;
                padding: 0;
                list-style: none;

                & > a {
                    display: block;
                    margin-bottom: 30px;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 15px;
                    color: $brand-purple-dark;
                    text-align: center;
                    text-transform: uppercase;

                    &:before {
                        display: block;
                        width: 110px;
                        height: 110px;
                        margin-bottom: 25px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        content: "";
                    }
                }

                &.air-force {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/air-force.png);
                        }
                    }
                }
                &.army {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/army.png);
                        }
                    }
                }
                &.navy {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/navy.png);
                        }
                    }
                }
                &.marines {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/marines.png);
                        }
                    }
                }
                &.coast-guard {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/coast-guard.png);
                        }
                    }
                }
                &.dod-voled {
                    & > a {
                        &:before {
                            background-image: url(../images/branches/dod-voled.png);
                        }
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
