.widget.widget--dantes-feature-poster {
    & figure {
        position: relative;
        display: block;
        margin: 0 0 15px 0;
        padding: 0;

        & > img {
            display: block;
            width: 100%;
            height: auto;
        }

        & > figcaption {
            position: absolute;
            bottom: 30px;
            display: table;
            width: 100%;

            & > a {
                display: table-cell;
                width: 100%;
                height: 60px;
                padding: 0 30px;
                background-color: $brand-blue-dark;
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                vertical-align: middle;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;

                & i {
                    float: right;
                }
            }
        }
    }
}