.widget.widget--dantes-vertical-menu {
    & > menu {
        margin: 0;
        padding: 0;

        & > ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            & > li {
                display: table;
                width: 100%;
                margin: 0 0 2px 0;
                padding: 0;
                list-style: none;

                & > a {
                    position: relative;
                    display: table-cell;
                    height: 132px;
                    padding: 0 85px 0 30px;
                    background: $brand-blue-dark;
                    font-size: 16px;
                    line-height: 16px;
                    color: #fff;
                    text-align: left;
                    vertical-align: middle;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    &:before {
                        position: absolute;
                        top: 42px;
                        right: 30px;
                        display: block;
                        width: 48px;
                        height: 48px;
                        font-size: 48px;
                        line-height: 48px;
                        text-align: center;

                        @include dantes-icon-font();
                    }
                }

                &.style--short {
                    margin-top: 12px;
                    margin-bottom: 12px;

                    & > a {
                        height: 60px;
                        background-color: $brand-orange;

                        &:before {
                            top: 0;
                            line-height: 60px;
                            font-size: 48px;
                        }
                    }
                }
            }
        }
    }
}