.flex-carousel {
    padding-right: 0;
    padding-left: 0;
    border-top: 15px $brand-purple-dark solid;

    & .carousel-control {
        &.left,
        &.right {
            background-image: none;
            background: transparent;

            & .glyphicon {
                width: 78px;
                height: 78px;
                margin-top: -39px;
                font-size: 78px;
                line-height: 78px;
                text-shadow: none;

                &:before {
                    @include dantes-icon-font();
                    color: #2d356f;
                }
            }

            &.left {
                & .glyphicon {
                    &:before {
                        content: $icon-dantes-chevron-thin-left;
                    }
                }
            }
            &.right {
                & .glyphicon {
                    &:before {
                        content: $icon-dantes-chevron-thin-right;
                    }
                }
            }
        }
    }
    & .item {
        /* height: 450px; */

        & > img {
            /* height: 450px; */
            margin: 0 auto;
        }

        & .carousel-caption {
            top: 0;
            display: none;
            /* display: table; */
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            text-shadow: none;
            text-align: left;

            & .carousel-caption__inner {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;

                & h3 {
                    display: block;
                    margin: 0;
                    padding: 0;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 28px;
                    color: $brand-purple;
                    text-transform: uppercase;
                }

                & h2 {
                    display: block;
                    margin: 0;
                    padding: 5px 0 0 0;
                    font-size: 38px;
                    font-weight: 800;
                    line-height: 38px;
                    color: $brand-purple;
                    text-transform: uppercase;
                }

                .btn {
                    min-width: 250px;
                    margin-top: 20px;
                    background-color: $brand-orange;
                    font-size: 13px;
                    line-height: 18px;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }

    .carousel-indicators {
        & li {
            width: 18px;
            height: 18px;
            margin: 1px 12px;
            border-width: 2px;
            border-radius: 50%;

            &.active {
                width: 18px;
                height: 18px;
                margin: 1px 12px;
            }
        }
    }
}
