/** DEPRECATED **/

.flex-content-with-sidebar__floating {
    background-color: $brand-purple-alternate;
    color: #fff;

    & > .container {
        position: relative;

        & .row {
            & .content {
                padding-bottom: 51px;
            }

            & .sidebar {
                position: absolute;
                right: 0;

                @media screen and (max-width: 992px) {
                    position: static;
                    right: auto;
                }
            }
        }
    }
}

