$brand-blue-dark: #2e336d;
$brand-purple-dark: #252497;
$brand-purple: #4241a5;
$brand-purple-alternate: #505e9d;
$brand-purple-light: #7c7c90;
$brand-orange: #fa873b;
$brand-grayish: #68697b;
$brand-gray-dark: #2e2e2e;
$brand-gray-mid: #a9a9a9;
$brand-gray-light: #bdbdbd;
$brand-gray-bright: #dbdbdb;
