.core-breadcrumbs {
    border-bottom: 1px $brand-gray-bright solid;

    & ul {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 30px 0;
        list-style: none;

        & > li {
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            list-style: none;

            & > a {
                position: relative;
                display: block;
                padding-right: 30px;
                font-weight: bold;
                color: $brand-grayish;
                text-decoration: none;
                letter-spacing: normal;
                text-transform: uppercase;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 12px;
                    display: block;
                    content: ">";
                }
            }

            &.selected {
                & > a {
                    padding-right: 0;
                    font-weight: normal;
                    color: $brand-gray-mid;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}
