.btn {
    &.btn-secondary {
        padding: 10px 25px;
        border: 1px $brand-orange solid;
        box-shadow: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        color: $brand-orange;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-orange;
            box-shadow: none;
            color: #fff;
        }
    }
}