body {
    margin: 0;
    padding: 0;
    font-family: "Articulat CF", sans-serif;
    color: $brand-gray-dark;
}

h2 {
    display: block;
    margin: 0;
    padding: 60px 0 5px 0;
    font-size: 25px;
    font-weight: 800;
    line-height: 27px;
    color: $brand-purple-dark;
}
h3 {
    display: block;
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
    color: $brand-gray-dark;
}
h4 {
    display: block;
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    color: $brand-grayish;
}
p {
    margin: 20px 0 0 0;
    font-size: 15px;
    line-height: 21px;

    &.text--small {
        font-size: 12px;
        line-height: 16px;
        color: $brand-grayish;
    }

    & img {
        max-width: 100%;
        padding: 0;
    }
}
ul,
ol {
    padding: 0 0 0 20px;
    font-size: 15px;
    line-height: 21px;
}
ul {
    margin: 20px 0 0 0;

    &.list--checkmarks {
        padding-left: 0;

        & > li {
            position: relative;
            display: block;
            margin: 0;
            padding: 0 0 0 25px;

            &:before {
                position: absolute;
                top: 4px;
                left: 0;
                display: block;
                width: 14px;
                height: 14px;
                font-size: 14px;
                line-height: 14px;
                color: $brand-purple-alternate;
                content: $icon-dantes-checkmark;

                @include dantes-icon-font();
            }
        }
    }
}

img {
    border: none;
}

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.clear {
    clear: both;
}