.core-heading {
    background-color: $brand-purple;
    background-image: url(../images/bg-content-heading.jpg);
    background-repeat: repeat-x;
    background-position: center center;

    & h1 {
        display: block;
        margin: 35px 0;
        padding: 0;
        font-size: 34px;
        font-weight: bold;
        line-height: 34px;
        color: #fff;
        text-transform: uppercase;
    }
}
