.flex-content--inline_nav {
    overflow: hidden;
    margin: 15px 0 0 0;
    padding: 0;

    & > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        & > li {
            position: relative;
            display: block;
            float: left;
            width: 170px;
            height: 110px;
            margin: 0 15px 15px 0;
            padding: 0;

            & > a {
                display: table;
                width: 100%;
                height: 100%;
                background: $brand-grayish;
                color: $brand-gray-mid;
                text-decoration: none;

                & > strong {
                    position: relative;
                    display: table-cell;
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                    font-size: 16px;
                    line-height: 16px;
                    vertical-align: top;
                    text-transform: uppercase;

                    &:after {
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        display: block;
                        width: 48px;
                        height: 48px;
                        background: #fff;
                        content: "";
                    }
                }
            }

            &.selected {
                & > a {
                    background-color: $brand-purple;
                    color: #fff;
                }

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 0;
                    height: 0;
                    margin-left: -15px;
                    border-width: 0 15px 10px 15px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                    content: "";
                }
            }
        }
    }
}