@charset "UTF-8";
@font-face {
  font-family: 'dantes-icons';
  src: url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b");
  src: url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b#iefix") format("embedded-opentype"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.ttf?eigb7b") format("truetype"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.woff?eigb7b") format("woff"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.svg?eigb7b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-dantes-"]:before, [class*="icon-dantes-"]:before, .sow-icon-dantes:before {
  font-family: 'dantes-icons', sans-serif; }
  [class^="icon-dantes-"]:before:before, [class*="icon-dantes-"]:before:before, .sow-icon-dantes:before:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dantes-icons', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.sow-icon-dantes[data-value]:before {
  content: attr(data-sow-icon);
  line-height: 1; }

.sow-icon-dantes[data-sow-icon]:before {
  display: inline-block;
  content: attr(data-sow-icon);
  line-height: 1; }

[class*='icon-dantes-checkmark']:before {
  content: ""; }

[class*='icon-dantes-chat']:before {
  content: ""; }

[class*='icon-dantes-counselor']:before {
  content: ""; }

[class*='icon-dantes-leadership']:before {
  content: ""; }

[class*='icon-dantes-support']:before {
  content: ""; }

[class*='icon-dantes-virtual-ed-fairs']:before {
  content: ""; }

[class*='icon-dantes-chevron-thin-left']:before {
  content: ""; }

[class*='icon-dantes-chevron-thin-right']:before {
  content: ""; }

/*# sourceMappingURL=icons.css.map */
