@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@import url(../shared/css/dantes-unified-ui.css);
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Text.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Text.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Text.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Text.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Text.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-TextOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-TextOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-TextOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-TextOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-TextOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Thin.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Thin.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Thin.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Thin.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Thin.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-ThinOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-ThinOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-ThinOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-ThinOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-ThinOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Light.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Light.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Light.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Light.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Light.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-LightOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-LightOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-LightOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-LightOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-LightOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Medium.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Medium.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Medium.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Medium.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Medium.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-MediumOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-MediumOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-MediumOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-MediumOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-MediumOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Bold.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Bold.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Bold.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Bold.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Bold.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-BoldOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-BoldOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-BoldOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-BoldOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-BoldOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-Heavy.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-Heavy.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-Heavy.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-Heavy.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-Heavy.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Articulat CF';
  src: url("../fonts/articulat-cf/ArticulatCF-HeavyOblique.eot?eigb7b");
  src: url("../fonts/articulat-cf/ArticulatCF-HeavyOblique.eot?eigb7b#iefix") format("embedded-opentype"), url("../fonts/articulat-cf/ArticulatCF-HeavyOblique.ttf?eigb7b") format("truetype"), url("../fonts/articulat-cf/ArticulatCF-HeavyOblique.woff?eigb7b") format("woff"), url("../fonts/articulat-cf/ArticulatCF-HeavyOblique.svg?eigb7b#ArticulatCF") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'dantes-icons';
  src: url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b");
  src: url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b#iefix") format("embedded-opentype"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.ttf?eigb7b") format("truetype"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.woff?eigb7b") format("woff"), url("/wp-content/themes/dantes/assets/fonts/icons/icomoon.svg?eigb7b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-dantes-"]:before, [class*="icon-dantes-"]:before, .sow-icon-dantes:before {
  font-family: 'dantes-icons', sans-serif;
  font-style: normal !important; }
  [class^="icon-dantes-"]:before:before, [class*="icon-dantes-"]:before:before, .sow-icon-dantes:before:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dantes-icons', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.sow-icon-dantes[data-value]:before {
  content: attr(data-sow-icon);
  line-height: 1; }

.sow-icon-dantes[data-sow-icon]:before {
  display: inline-block;
  content: attr(data-sow-icon);
  line-height: 1; }

[class*='icon-dantes-checkmark']:before {
  content: ""; }

[class*='icon-dantes-chat']:before {
  content: ""; }

[class*='icon-dantes-counselor']:before {
  content: ""; }

[class*='icon-dantes-leadership']:before {
  content: ""; }

[class*='icon-dantes-support']:before {
  content: ""; }

[class*='icon-dantes-virtual-ed-fairs']:before {
  content: ""; }

[class*='icon-dantes-chevron-thin-left']:before {
  content: ""; }

[class*='icon-dantes-chevron-thin-right']:before {
  content: ""; }

.core-breadcrumbs {
  border-bottom: 1px #dbdbdb solid; }
  .core-breadcrumbs ul {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 30px 0;
    list-style: none; }
    .core-breadcrumbs ul > li {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      list-style: none; }
      .core-breadcrumbs ul > li > a {
        position: relative;
        display: block;
        padding-right: 30px;
        font-weight: bold;
        color: #68697b;
        text-decoration: none;
        letter-spacing: normal;
        text-transform: uppercase; }
        .core-breadcrumbs ul > li > a:after {
          position: absolute;
          top: 0;
          right: 12px;
          display: block;
          content: ">"; }
      .core-breadcrumbs ul > li.selected > a {
        padding-right: 0;
        font-weight: normal;
        color: #a9a9a9; }
        .core-breadcrumbs ul > li.selected > a:after {
          display: none; }

.btn.btn-secondary {
  padding: 10px 25px;
  border: 1px #fa873b solid;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #fa873b;
  text-decoration: none;
  text-transform: uppercase; }
  .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
    background-color: #fa873b;
    box-shadow: none;
    color: #fff; }

body {
  margin: 0;
  padding: 0;
  font-family: "Articulat CF", sans-serif;
  color: #2e2e2e; }

h2 {
  display: block;
  margin: 0;
  padding: 60px 0 5px 0;
  font-size: 25px;
  font-weight: 800;
  line-height: 27px;
  color: #252497; }

h3 {
  display: block;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  color: #2e2e2e; }

h4 {
  display: block;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #68697b; }

p {
  margin: 20px 0 0 0;
  font-size: 15px;
  line-height: 21px; }
  p.text--small {
    font-size: 12px;
    line-height: 16px;
    color: #68697b; }
  p img {
    max-width: 100%;
    padding: 0; }

ul,
ol {
  padding: 0 0 0 20px;
  font-size: 15px;
  line-height: 21px; }

ul {
  margin: 20px 0 0 0; }
  ul.list--checkmarks {
    padding-left: 0; }
    ul.list--checkmarks > li {
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 0 25px; }
      ul.list--checkmarks > li:before {
        position: absolute;
        top: 4px;
        left: 0;
        display: block;
        width: 14px;
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        color: #505e9d;
        content: ""; }
        ul.list--checkmarks > li:before:before {
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'dantes-icons', sans-serif;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }

img {
  border: none; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.clear {
  clear: both; }

.core-heading {
  background-color: #4241a5;
  background-image: url(../images/bg-content-heading.jpg);
  background-repeat: repeat-x;
  background-position: center center; }
  .core-heading h1 {
    display: block;
    margin: 35px 0;
    padding: 0;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase; }

.flex-content--inline_nav {
  overflow: hidden;
  margin: 15px 0 0 0;
  padding: 0; }
  .flex-content--inline_nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .flex-content--inline_nav > ul > li {
      position: relative;
      display: block;
      float: left;
      width: 170px;
      height: 110px;
      margin: 0 15px 15px 0;
      padding: 0; }
      .flex-content--inline_nav > ul > li > a {
        display: table;
        width: 100%;
        height: 100%;
        background: #68697b;
        color: #a9a9a9;
        text-decoration: none; }
        .flex-content--inline_nav > ul > li > a > strong {
          position: relative;
          display: table-cell;
          width: 100%;
          height: 100%;
          padding: 15px;
          font-size: 16px;
          line-height: 16px;
          vertical-align: top;
          text-transform: uppercase; }
          .flex-content--inline_nav > ul > li > a > strong:after {
            position: absolute;
            right: 15px;
            bottom: 15px;
            display: block;
            width: 48px;
            height: 48px;
            background: #fff;
            content: ""; }
      .flex-content--inline_nav > ul > li.selected > a {
        background-color: #4241a5;
        color: #fff; }
      .flex-content--inline_nav > ul > li.selected:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        margin-left: -15px;
        border-width: 0 15px 10px 15px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        content: ""; }

.flex-carousel {
  padding-right: 0;
  padding-left: 0;
  border-top: 15px #252497 solid; }
  .flex-carousel .carousel-control.left, .flex-carousel .carousel-control.right {
    background-image: none;
    background: transparent; }
    .flex-carousel .carousel-control.left .glyphicon, .flex-carousel .carousel-control.right .glyphicon {
      width: 78px;
      height: 78px;
      margin-top: -39px;
      font-size: 78px;
      line-height: 78px;
      text-shadow: none; }
      .flex-carousel .carousel-control.left .glyphicon:before, .flex-carousel .carousel-control.right .glyphicon:before {
        color: #2d356f; }
        .flex-carousel .carousel-control.left .glyphicon:before:before, .flex-carousel .carousel-control.right .glyphicon:before:before {
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'dantes-icons', sans-serif;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
    .flex-carousel .carousel-control.left.left .glyphicon:before, .flex-carousel .carousel-control.right.left .glyphicon:before {
      content: ""; }
    .flex-carousel .carousel-control.left.right .glyphicon:before, .flex-carousel .carousel-control.right.right .glyphicon:before {
      content: ""; }
  .flex-carousel .item {
    /* height: 450px; */ }
    .flex-carousel .item > img {
      /* height: 450px; */
      margin: 0 auto; }
    .flex-carousel .item .carousel-caption {
      top: 0;
      display: none;
      /* display: table; */
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      text-shadow: none;
      text-align: left; }
      .flex-carousel .item .carousel-caption .carousel-caption__inner {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle; }
        .flex-carousel .item .carousel-caption .carousel-caption__inner h3 {
          display: block;
          margin: 0;
          padding: 0;
          font-size: 28px;
          font-weight: bold;
          line-height: 28px;
          color: #4241a5;
          text-transform: uppercase; }
        .flex-carousel .item .carousel-caption .carousel-caption__inner h2 {
          display: block;
          margin: 0;
          padding: 5px 0 0 0;
          font-size: 38px;
          font-weight: 800;
          line-height: 38px;
          color: #4241a5;
          text-transform: uppercase; }
        .flex-carousel .item .carousel-caption .carousel-caption__inner .btn {
          min-width: 250px;
          margin-top: 20px;
          background-color: #fa873b;
          font-size: 13px;
          line-height: 18px;
          color: #fff;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase; }
  .flex-carousel .carousel-indicators li {
    width: 18px;
    height: 18px;
    margin: 1px 12px;
    border-width: 2px;
    border-radius: 50%; }
    .flex-carousel .carousel-indicators li.active {
      width: 18px;
      height: 18px;
      margin: 1px 12px; }

/** DEPRECATED **/
.flex-content-with-sidebar__floating {
  background-color: #505e9d;
  color: #fff; }
  .flex-content-with-sidebar__floating > .container {
    position: relative; }
    .flex-content-with-sidebar__floating > .container .row .content {
      padding-bottom: 51px; }
    .flex-content-with-sidebar__floating > .container .row .sidebar {
      position: absolute;
      right: 0; }
      @media screen and (max-width: 992px) {
        .flex-content-with-sidebar__floating > .container .row .sidebar {
          position: static;
          right: auto; } }

.widget.widget--sidebar.widget--sidebar-floating {
  position: absolute;
  width: 100%; }

.so-widget-dantes-sidebar-trigger {
  position: relative; }

.widget.widget--feature-link figure {
  padding: 0 35px 0 0; }
  @media screen and (max-width: 992px) {
    .widget.widget--feature-link figure {
      padding-right: 0; } }
  .widget.widget--feature-link figure a {
    padding-top: 50px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px; }
  .widget.widget--feature-link figure img {
    width: 100%; }
  .widget.widget--feature-link figure figcaption {
    display: block;
    padding-bottom: 20px;
    font-weight: bold; }

.widget.widget_nav_menu .widget-title {
  display: block;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 16px;
  line-height: 16px;
  color: #68697b;
  font-weight: 500;
  text-transform: uppercase; }

.widget.widget_nav_menu .menu-social-navigation-container {
  display: block;
  margin: 0;
  padding: 0; }
  .widget.widget_nav_menu .menu-social-navigation-container > ul {
    display: block;
    margin: 42px 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    .widget.widget_nav_menu .menu-social-navigation-container > ul > li {
      display: inline-block;
      width: 46px;
      height: 46px;
      margin: 0 9px;
      padding: 0;
      border-radius: 50%;
      background: #000;
      list-style: none; }
      .widget.widget_nav_menu .menu-social-navigation-container > ul > li > a {
        display: block;
        font-size: 0;
        line-height: 0;
        text-decoration: none; }
        .widget.widget_nav_menu .menu-social-navigation-container > ul > li > a:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          width: 46px;
          height: 46px;
          font-size: 24px;
          line-height: 46px;
          color: #fff;
          content: "";
          text-align: center; }
      .widget.widget_nav_menu .menu-social-navigation-container > ul > li.facebook {
        background-color: #4a6fca; }
        .widget.widget_nav_menu .menu-social-navigation-container > ul > li.facebook > a:before {
          content: ""; }
      .widget.widget_nav_menu .menu-social-navigation-container > ul > li.twitter {
        background-color: #17adee; }
        .widget.widget_nav_menu .menu-social-navigation-container > ul > li.twitter > a:before {
          content: ""; }
      .widget.widget_nav_menu .menu-social-navigation-container > ul > li.linkedin {
        background-color: #178bc8; }
        .widget.widget_nav_menu .menu-social-navigation-container > ul > li.linkedin > a:before {
          content: ""; }
      .widget.widget_nav_menu .menu-social-navigation-container > ul > li.gplus {
        background-color: #CD3E3E; }
        .widget.widget_nav_menu .menu-social-navigation-container > ul > li.gplus > a:before {
          content: ""; }

.widget.widget_nav_menu .menu-voled-resources-container {
  padding-top: 60px;
  padding-bottom: 60px; }
  .widget.widget_nav_menu .menu-voled-resources-container > ul {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none; }
    .widget.widget_nav_menu .menu-voled-resources-container > ul > li {
      display: block;
      float: left;
      margin: 0 15px 0 0;
      padding: 0;
      list-style: none; }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li > a {
        display: block;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: normal;
        line-height: 15px;
        color: #252497;
        text-align: center;
        text-transform: uppercase; }
        .widget.widget_nav_menu .menu-voled-resources-container > ul > li > a:before {
          display: block;
          width: 110px;
          height: 110px;
          margin-bottom: 25px;
          background-repeat: no-repeat;
          background-size: 100%;
          content: ""; }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.air-force > a:before {
        background-image: url(../images/branches/air-force.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.army > a:before {
        background-image: url(../images/branches/army.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.navy > a:before {
        background-image: url(../images/branches/navy.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.marines > a:before {
        background-image: url(../images/branches/marines.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.coast-guard > a:before {
        background-image: url(../images/branches/coast-guard.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li.dod-voled > a:before {
        background-image: url(../images/branches/dod-voled.png); }
      .widget.widget_nav_menu .menu-voled-resources-container > ul > li:last-child {
        margin-right: 0; }

.widget.widget--dantes-feature-poster figure {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
  padding: 0; }
  .widget.widget--dantes-feature-poster figure > img {
    display: block;
    width: 100%;
    height: auto; }
  .widget.widget--dantes-feature-poster figure > figcaption {
    position: absolute;
    bottom: 30px;
    display: table;
    width: 100%; }
    .widget.widget--dantes-feature-poster figure > figcaption > a {
      display: table-cell;
      width: 100%;
      height: 60px;
      padding: 0 30px;
      background-color: #2e336d;
      font-size: 16px;
      line-height: 16px;
      color: #fff;
      vertical-align: middle;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500; }
      .widget.widget--dantes-feature-poster figure > figcaption > a i {
        float: right; }

.widget.widget--dantes-vertical-menu > menu {
  margin: 0;
  padding: 0; }
  .widget.widget--dantes-vertical-menu > menu > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .widget.widget--dantes-vertical-menu > menu > ul > li {
      display: table;
      width: 100%;
      margin: 0 0 2px 0;
      padding: 0;
      list-style: none; }
      .widget.widget--dantes-vertical-menu > menu > ul > li > a {
        position: relative;
        display: table-cell;
        height: 132px;
        padding: 0 85px 0 30px;
        background: #2e336d;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        text-align: left;
        vertical-align: middle;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px; }
        .widget.widget--dantes-vertical-menu > menu > ul > li > a:before {
          position: absolute;
          top: 42px;
          right: 30px;
          display: block;
          width: 48px;
          height: 48px;
          font-size: 48px;
          line-height: 48px;
          text-align: center; }
          .widget.widget--dantes-vertical-menu > menu > ul > li > a:before:before {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'dantes-icons', sans-serif;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
      .widget.widget--dantes-vertical-menu > menu > ul > li.style--short {
        margin-top: 12px;
        margin-bottom: 12px; }
        .widget.widget--dantes-vertical-menu > menu > ul > li.style--short > a {
          height: 60px;
          background-color: #fa873b; }
          .widget.widget--dantes-vertical-menu > menu > ul > li.style--short > a:before {
            top: 0;
            line-height: 60px;
            font-size: 48px; }
