body {
	& footer#dantes-footer.dantes-footer {
		position: static !important;
		clear: both;
		margin: 0;
		padding: 0;
		background: #f0f0f0;

		&:before,
		&:after {
			display: none;
		}

		& .container {
			width: 1170px;
			margin: 0 auto;
		}

		@at-root {
			@media screen and (max-width: 1200px) {
				body {
					& footer#dantes-footer.dantes-footer {
						& .container {
							width: 976px;
						}
					}
				}
			}
			@media screen and (max-width: 1024px) {
				body {
					& footer#dantes-footer.dantes-footer {
						& .container {
							width: 100%;
							margin: 0;
						}
					}
				}
			}
		}

		& #dantes-footer--inner.dantes-footer--inner {
			padding: 0;
			margin: 0;
			background: transparent none;
			font-family: 'Open Sans', sans-serif;

			&:before,
			&:after {
				display: none;
			}
		}

		& #dantes-footer--nav.dantes-footer--nav {
			display: table;
			height: 60px;
			table-layout: fixed;

			&:before,
			&:after {
				display: none;
			}

			@at-root {
				@media screen and (max-width: 768px) {
					body {
						& footer#dantes-footer.dantes-footer {
							& #dantes-footer--nav.dantes-footer--nav {
								display: block;
								height: auto;
								overflow: hidden;
							}
						}
					}
				}
			}

			& .dantes-footer--sitemap-trigger {
				display: table-cell;
				position: relative;
				width: 132px;
				padding: 0 15px;
				background: #3f4488;
				color: #fff;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
				line-height: 14px;
				vertical-align: middle;
				text-align: center;
				text-decoration: none;
				white-space: nowrap !important;

				@at-root {
					body {
						& footer#dantes-footer.dantes-footer {
							&.open {
								& #dantes-footer--nav.dantes-footer--nav {
									& .dantes-footer--sitemap-trigger {
										&:after {
											display: block;
										}
									}
								}
							}
						}
					}
				}

				@at-root {
					@media screen and (min-width: 768px) {
						body {
							& footer#dantes-footer.dantes-footer {
								&.open {
									& #dantes-footer--nav.dantes-footer--nav {
										& .dantes-footer--sitemap-trigger {
											&:after {
												display: none;
												position: absolute;
												bottom: -5px;
												left: 50%;
												width: 10px;
												height: 10px;
												margin-left: -5px;
												background-color: #fff;
												content: '';
												transform: rotate(45deg);
											}
										}
									}
								}
							}
						}
					}

					@media screen and (max-width: 768px) {
						body {
							& footer#dantes-footer.dantes-footer {
								& #dantes-footer--nav.dantes-footer--nav {
									& .dantes-footer--sitemap-trigger {
										display: block;
										width: 100%;
										padding: 10px 0;
										text-transform: none;
										text-decoration: underline;
										font-style: italic;
										font-weight: bold;

										&:before,
										&:after {
											display: inline-block;
											font-weight: normal;
										}
										&:before {
											padding-right: 3px;
											content: "Tap to toggle";
										}
										&:after {
											@include fa-icon;
											padding-left: 5px;
											content: $fa-var-long-arrow-down;
										}
									}
								}
							}
						}
					}
				}
			}

			& .dantes-footer--links {
				display: table-cell;
				width: 100%;
				padding: 0 15px;
				margin: 0;
				list-style-type: none;
				vertical-align: middle;
				text-align: center;

				@at-root {
					@media screen and (max-width: 768px) {
						body {
							& footer#dantes-footer.dantes-footer {
								& #dantes-footer--nav.dantes-footer--nav {
									& .dantes-footer--links {
										display: block;
										clear: both;
										padding-top: 10px;
										padding-bottom: 10px;
										border-bottom: 1px #272793 solid;
									}
								}
							}
						}
					}
				}

				& > li {
					display: inline-block;
					margin: 0 12px;
					padding: 0;
					list-style-type: none;
					font-size: 14px;
					line-height: 14px;
					color: #000;
					text-transform: none;
					font-weight: normal;

					& > a {
						color: #000;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			& .dantes-footer--social {
				display: table-cell;
				width: 200px;
				padding: 0 15px;
				margin: 0;
				vertical-align: middle;
				text-align: right;

				@at-root {
					@media screen and (max-width: 768px) {
						body {
							& footer#dantes-footer.dantes-footer {
								& #dantes-footer--nav.dantes-footer--nav {
									& .dantes-footer--social {
										display: block;
										clear: both;
										overflow: hidden;
										width: auto;
										height: auto;
										margin: 0;
										padding: 10px 0;
									}
								}
							}
						}
					}
				}

				& > ul {
					display: block;
					margin: 0;
					padding: 0;
					list-style-type: none;

					& > li {
						display: block;
						float: right;
						position: relative;
						margin: 0 7px;
						padding: 0;

						@at-root {
							@media screen and (max-width: 768px) {
								body {
									& footer#dantes-footer.dantes-footer {
										& #dantes-footer--nav.dantes-footer--nav {
											& .dantes-footer--social {
												& > ul {
													text-align: center;
													font-size: 0;
													line-height: 0;

													& > li {
														display: inline-block;
														float: none;
													}
												}
											}
										}
									}
								}
							}
						}

						& > a {
							display: block;
							width: 36px;
							height: 36px;
							border: 2px #d0d0d0 solid;
							border-radius: 50%;
							-moz-border-radius: 50%;
							-webkit-border-radius: 50%;
							list-style-type: none;
							font-size: 0;
							line-height: 0;
							text-decoration: none;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;

							&:before {
								@include fa-icon;
								display: block;
								position: absolute;
								top: 0px;
								left: 0px;
								width: 36px;
								height: 36px;
								line-height: 38px;
								font-size: 16px;
								color: #d0d0d0;
								text-align: center;
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
							}

							&:hover {
								border-color: #9a9a9a;

								&:before {
									color: #9a9a9a;
								}
							}

							&.facebook {
								&:before {
									content: $fa-var-facebook-f;
								}
							}
							&.twitter {
								&:before {
									content: $fa-var-twitter;
								}
							}
							&.youtube {
								&:before {
									content: $fa-var-youtube;
								}
							}
							&.gplus {
								&:before {
									content: $fa-var-google-plus;
								}
							}
							&.pinterest {
								&:before {
									content: $fa-var-pinterest-p;
								}
							}
							&.linkedin {
								&:before {
									content: $fa-var-linkedin;
								}
							}
						}
					}
				}
			}
		}

		& #dantes-footer--sitemap.dantes-footer--sitemap {
			display: none;
			margin: 0;
			padding: 0;
			background: #fff;

			@at-root {
				body {
					& footer#dantes-footer.dantes-footer {
						&.open {
							& #dantes-footer--sitemap.dantes-footer--sitemap {
								display: block;
							}
						}
					}
				}
			}

			& > ul {
				display: block;
				display: flex;
				position: relative;
				margin-top: 0;
				margin-bottom: 0;
				padding: 44px 8px 0 168px !important;
				list-style-type: none;
				flex-direction: row;
				flex-grow: 0;
				flex-wrap: wrap;

				&:before {
					display: block;
					position: absolute;
					left: 8px;
					top: 25px;
					width: 140px;
					height: 100px;
					background-image: url(../images/dantes-logo.png);
					background-size: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					font-size: 0;
					line-height: 0;
					content: "";
				}

				& > li {
					display: block;
					float: left;
					clear: none;
					width: 25%;
					padding: 25px 0 25px 2%;
					margin: 0;

					@at-root {
						@media screen and (max-width: 976px) {
							body {
								& footer#dantes-footer.dantes-footer {
									& #dantes-footer--sitemap.dantes-footer--sitemap {
										& .container {
											width: auto;
											padding: 0 15px;
										}

										& > ul {
											& > li {
												width: 50%;

												&.dantes-footer--nav__search {
													width: 100%;
													float: none;
													clear: both;
													text-align: center;
												}
											}
										}
									}
								}
							}
						}

						@media screen and (max-width: 640px) {
							body {
								& footer#dantes-footer.dantes-footer {
									& #dantes-footer--sitemap.dantes-footer--sitemap {
										& > ul {
											& > li {
												width: 100%;
												padding-right: 2%;
											}
										}
									}
								}
							}
						}
					}

					&:nth-child(4n+1) {
						clear: both;
					}

					& > a,
					& > strong {
						display: block;
						padding: 0 0 10px 0;
						margin-bottom: 15px;
						border-bottom: 2px #bdc0e0 solid;
						font-size: 15px;
						line-height: 15px;
						text-decoration: none;
						text-transform: uppercase;
						color: #666;
						font-weight: bold;

						@at-root {
							@media screen and (max-width: 1200px) {
								body {
									& footer#dantes-footer.dantes-footer {
										& #dantes-footer--sitemap.dantes-footer--sitemap {
											& > ul {
												& > li {
													& > a {
														min-height: 42px;
													}
												}
											}
										}
									}
								}
							}
							@media screen and (max-width: 976px) {
								body {
									& footer#dantes-footer.dantes-footer {
										& #dantes-footer--sitemap.dantes-footer--sitemap {
											& > ul {
												& > li {
													& > a {
														min-height: 0;
													}
												}
											}
										}
									}
								}
							}
						}
					}

					& > .dantes-footer--nav__submenu {
						display: block;
						margin: 0;
						padding: 0;

						& > .dantes-footer--nav__submenu-container {
							width: 100% !important;
							margin: 0;
							padding: 0 !important;

							& ul {
								display: block;
								padding: 0;
								margin: 0;
								list-style-type: none;

								& > li {
									display: block;
									position: relative;
									top: 9px;
									margin: 0;
									padding: 0;
									text-transform: uppercase;
									color: #666;
									font-weight: bold;
									font-size: 14px;
									line-height: 14px;

									& li {
										&:first-child {
											padding-top: 0;
										}
									}
								}
							}

							& > ul {
								& > li {
									padding: 0;
									font-size: 14px;
									line-height: 14px;
									color: #666;
									font-weight: 600;

									& a {
										display: block;
										position: relative;
										padding-bottom: 30px;
										padding-left: 18px;
										color: #272793;
										text-decoration: none;
										text-transform: uppercase;
										font-weight: 600;

										&:before {
											@include fa-icon;
											display: block;
											position: absolute;
											top: 1px;
											left: 0;
											font-size: 9px;
											line-height: 13px;
											content: $fa-var-chevron-right;
											transition: all 0.25s ease-out;
											transform-origin: left center;
										}
									}
								}

								& ul {
									padding-top: 5px;
									padding-bottom: 30px;
									margin: 10px 0;
									border-top: 1px #999 solid;

									& li {
										padding: 5px 0;

										& a {
											display: block;
											position: relative;
											padding: 0 0 0 18px;
											color: #272793;
											text-transform: none;
											font-weight: normal;
										}
									}
								}

								&:last-child {
									position: relative;

									& > li {
										&:last-child {
											& > a {
												display: inline-block;
												padding-bottom: 0;
												margin-bottom: 5px;
											}
										}
									}
								}
							}
						}
					}

					&.dantes-footer--nav__more {
						float: right;
					}

					&.dantes-footer--nav__search {
						& > .dantes-footer--nav__submenu-search {
							& form {
								margin: 0;
								padding: 0;

								& .dantes-footer--search__controls {
									& > label {
										width: 100%;

										& > strong {
											display: none;
										}

										& > input[type=text] {
											width: 100%;
											margin: 0;
											padding: 0 8px;
											height: 26px;
											background-color: transparent;
											border: 1px #272793 solid;
											font-size: 13px;
											line-height: 18px;
											color: #272793;
											font-family: 'Open Sans', sans-serif;
											outline-color: #272793;

											&:focus,
											&:active {
												background-color: #fff;
											}
										}
									}

									& button {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}