body {
	position: relative;
	margin: 153px 0 0 0 !important;
	transition: all 0.5s ease-out;

	& header#dantes-header.dantes-header {
		position: static !important;
		width: 100% !important;
		background-color: #fff !important;
		border: none !important;
		line-height: 16px !important;
		font-size: 16px !important;

		&:before,
		&:after {
			display: none;
		}

		& .container {
			width: 1170px;
			margin: 0 auto;
		}

		@at-root {
			@media screen and (max-width: 1200px) {
				body {
					& header#dantes-header.dantes-header {
						& .container {
							width: 976px;
						}
					}
				}
			}
			@media screen and (max-width: 1024px) {
				body {
					& header#dantes-header.dantes-header {
						& .container {
							width: auto;
							margin: 0 20px;
						}
					}
				}
			}
		}

		& #dantes-header--inner.dantes-header--inner {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			background-color: #fff;
			z-index: 100;

			&:before,
			&:after {
				display: none;
			}
		}

		& #dantes-header--nav.dantes-header--nav {
			position: static;
			height: auto;
			z-index: auto;
			font-family: 'Open Sans', sans-serif;

			&:before,
			&:after {
				display: none;
			}

			& > .dantes-header--logo {
				display: table;
				float: left;
				width: 130px;

				@at-root {
					@media screen and (max-width: 1200px) {
						body {
							& header#dantes-header.dantes-header {
								& #dantes-header--nav.dantes-header--nav {
									& > .dantes-header--logo {
										width: 115px;
									}
								}
							}
						}
					}
					@media screen and (max-width: 1024px) {
						body {
							& header#dantes-header.dantes-header {
								& #dantes-header--nav.dantes-header--nav {
									& > .dantes-header--logo {
										width: 100px;
									}
								}
							}
						}
					}
				}

				& > a {
					display: table-cell;
					width: 100%;
					height: 153px;
					padding: 0;
					margin: 0;
					text-align: left;
					vertical-align: middle;
					text-decoration: none;

					& > strong {
						display: block;
						width: 100%;
						height: 100%;
						padding: 0;
						background-image: url(../images/dantes-logo.png);
						background-size: 100%;
						background-position: center center;
						background-repeat: no-repeat;
						border-left: none;
						font-size: 0;
						line-height: 0;
					}
				}
			}

			& > .dantes-header--nav__control {
				display: none;
			}

			& > ul {
				display: block;
				position: static;
				float: right;
				width: auto;
				margin: 0;
				padding: 0;
				background: transparent none;
				border: none;
				list-style-type: none;
				text-align: left;

				& > li {
					display: table;
					float: left;
					width: auto;
					margin: 0;
					padding: 0;
					background: transparent none;
					border: none;
					list-style-type: none;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					line-height: 16px;
					text-align: left;

					& > a {
						display: table-cell;
						width: auto;
						max-width: 160px;
						height: 153px;
						margin: 0;
						padding: 0;
						background: transparent none;
						border: none;
						text-decoration: none;
						text-align: left;
						vertical-align: middle;
						color: #666;

						@at-root {
							@media screen and (max-width: 1200px) {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													& > a {
														max-width: 135px;
													}
												}
											}
										}
									}
								}
							}
							/*
							@media screen and (max-width: 1024px) {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													& > a {
														max-width: 95px;
													}
												}
											}
										}
									}
								}
							}
							*/
						}

						& > strong {
							display: block;
							display: flex;
							height: 34px;
							padding: 0 30px;
							border-left: 2px #e2e2e2 solid;
							font-weight: normal;
							text-transform: uppercase;
							align-items: flex-end;
						}

						@at-root {
							@media screen and (max-width: 1200px) {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													font-size: 15px;
													line-height: 15px;

													& > a {
														& > strong {
															padding: 0px 15px;
														}
													}
												}
											}
										}
									}
								}
							}
							@media screen and (max-width: 1024px) {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													font-size: 14px;
													line-height: 14px;

													& > a {
														& > strong {
															border-left: none;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

					&:hover,
					&.selected {
						& > a {
							color: #272793;
						}
					}

					&:first-child {
						& > a {
							& > strong {
								padding-left: 0;
								border-left: none;
							}
						}
					}

					&.dantes-header--nav__search {
						width: auto;

						& > a {
							display: table-cell;

							&:after {
								@include fa-icon;
								display: block;
								display: flex;
								min-height: 34px;
								padding-left: 20px;
								border-left: 2px #e2e2e2 solid;
								font-size: 26px;
								line-height: 26px;
								color: #666;
								content: $fa-var-search;
								align-items: center;
							}

							@at-root {
								@media screen and (max-width: 1024px) {
									body {
										& header#dantes-header.dantes-header {
											& #dantes-header--nav.dantes-header--nav {
												& > ul {
													& > li {
														&.dantes-header--nav__search {
															& > a {
																&:after {
																	border-left: none;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}

							& > strong {
								display: none;
							}
						}

						@at-root {
							html.dantes-header--search-open {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													&.dantes-header--nav__search {
														& > .dantes-header--nav__submenu-search {
															height: 100%;
															opacity: 1;
															visibility: visible;
															transition: all 0.2s ease-out;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

					& > .dantes-header--nav__submenu {
						display: block;
						position: absolute;
						overflow: hidden;
						top: 153px;
						left: 0;
						width: 100%;
						height: 0;
						margin: 0;
						padding: 0;
						background-color: #fff;
						border: none;
						transition: all 0.3s ease-out;

						& > .dantes-header--nav__submenu-container {
							display: table;
							position: relative;
							top: -10px;
							opacity: 0;
							margin-bottom: -10px;
							table-layout: fixed;
							transition: all 0.15s ease-out;

							& > ul {
								display: table-cell;
								width: 33%;
								margin: 0 0 0 25px;
								padding: 0 25px;
								background: transparent none;
								border-top: none;
								border-bottom: none;
								border-left: 2px #e2e2e2 solid;
								border-right: none;
								list-style-type: none;
								vertical-align: top;
								text-align: left;

								&:first-child {
									margin-left: 0;
									padding-left: 0;
									border-left: none;
								}

								& > li {
									display: block;
									margin: 0;
									padding: 10px 0;
									background: transparent none;
									border: none;
									list-style-type: none;
									color: #666;
									font-weight: bold;
									text-transform: uppercase;
									text-decoration: underline;
									font-size: 16px;
									line-height: 16px;
									text-align: left;
									cursor: default;

									& > a {
										display: inline-block;
										position: relative;
										left: -5px;
										padding: 5px;
										margin: -5px 0;
										background: transparent none;
										border: none;
										text-decoration: none !important;
										color: #272793;
										transition: all 0.35s ease-out;
										text-align: left;
										cursor: pointer;
									}

									&:hover,
									&.selected {
										& > a {
											background-color: #272793;
											color: #fff;
										}
									}

									& ul {
										margin: 0;
										padding: 10px 18px;
										background: transparent none;
										border: none;
										list-style-type: none;
										color: #000;
										text-decoration: none;
										text-align: left;

										& > li {
											display: block;
											position: relative;
											padding: 0;
											margin: 0;
											background: transparent none;
											border: none;
											font-size: 13px;
											line-height: 13px;
											font-weight: normal;
											text-transform: none;
											text-align: left;

											&:before {
												@include fa-icon;
												display: block;
												position: absolute;
												top: 3px;
												left: -17px;
												font-size: 9px;
												line-height: 13px;
												content: $fa-var-chevron-right;
												transition: all 0.25s ease-out;
												transform-origin: left center;
												color: #272793;
											}

											/*
											&:before,
											&:after {
												@include fa-icon;
												display: block;
												position: absolute;
												content: $fa-var-chevron-right;
												transition: all 0.25s ease-out;
												transform-origin: left center;
											}

											&:before {
												top: 3px;
												left: -17px;
												font-size: 9px;
												line-height: 13px;
											}
											&:after {
												top: 7px;
												left: -22px;
												font-size: 6px;
												line-height: 6px;
												opacity: 0;
											}
											*/

											& > a {
												display: inline-block;
												position: relative;
												left: -5px;
												padding: 3px 5px;
												color: #272793;
												text-decoration: none;
												text-align: left;
												transition: all 0.35s ease-out;
											}

											&:hover,
											&.selected {
												/*
												&:before {
													left: -15px;
												}
												&:after {
													opacity: 1;
													left: -18px;
												}
												*/

												& > a {
													background-color: #272793;
													color: #fff;
												}
											}
										}
									}
								}
							}

							&.only-child {
								display: block;

								& > ul {
									display: table;
									width: 100%;
									margin: 0;
									padding: 0;
									border: none;
									table-layout: fixed;

									& > li {
										display: table-cell;
										width: 33%;
										float: none;
										padding-left: 25px;
										padding-right: 25px;
										border-right: 2px #e2e2e2 solid;
										vertical-align: top;

										&:nth-child(3n+1), 
										&:first-child {
											padding-left: 10px;
										}
										&:nth-child(3n) {
											padding-right: 10px;
											border-right: none;
										}
									}
								}
							}
						}
					}

					@at-root {
						@media screen and (min-width: 976px) {
							body {
								& header#dantes-header.dantes-header {
									& #dantes-header--nav.dantes-header--nav {
										& > ul {
											& > li {
												&:hover {
													& > .dantes-header--nav__submenu {
														display: block;
														height: auto;
														padding: 20px 0;
														transition: all 0.5s ease-out 0.15s;

														& > .dantes-header--nav__submenu-container {
															opacity: 1;
															transition: all 0.5s ease-out 0.15s;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

					& > .dantes-header--nav__submenu-search {
						display: block;
						position: fixed;
						z-index: 1000;
						top: 0;
						left: 0;
						width: 100%;
						height: 0;
						opacity: 0;
						visibility: hidden;
						background-color: #272793;
						background-color: rgba(39, 39, 147, 0.90);
						transition: opacity 0.15s ease-out, visibility 0.15s ease-out, height 0.1s ease-out 0.15s;

						& > form.dantes-header--search {
							display: table;
							width: 100%;
							height: 100%;
							font-family: 'Open Sans', sans-serif;

							& > .dantes-header--search__controls {
								display: table-cell;
								width: 100%;
								height: 100%;
								vertical-align: middle;
								text-align: center;

								& > label {
									display: block;
									width: 80%;
									margin: 0 auto;
									padding: 0;
									font-size: 16px;
									line-height: 16px;
									text-align: left;

									& strong {
										display: block;
										padding-bottom: 5px;
										font-weight: 700;
										text-transform: none;
										font-size: 40px;
										line-height: 56px;
										color: #fff;
									}
									& input[type=text] {
										display: block;
										height: 48px;
										width: 97%;
										padding: 2px 1.5% 5px 1.5%;
										border: 1px #fff solid;
										font-weight: 700;
										font-size: 24px;
										line-height: 24px;
										font-family: 'Open Sans', sans-serif;
										outline-color: white;

										&:focus,
										&:active {
											background-color: #fff;
											color: #272793;
										}
									}
								}
								& button[type=submit] {
									display: none;
								}
								& button[type=reset] {
									display: block;
									position: absolute;
									width: 48px;
									height: 48px;
									margin: 0;
									padding: 0;
									top: 20px;
									right: 20px;
									background: #fff none;
									border: 1px #fff solid;
									font-size: 0;
									line-height: 0;
									color: #fff;
									text-align: center;
									outline: none;
									border-radius: 50%;
									-moz-border-radius: 50%;
									-webkit-border-radius: 50%;
									transition: all 0.25s ease-out;
									transform-origin: center center;
									cursor: pointer;

									&:before {
										@include fa-icon;
										display: block;
										height: 46px;
										content: $fa-var-close;
										line-height: 44px;
										font-size: 32px;
										color: #272793;
									}

									&:focus,
									&:active,
									&:hover {
										background: transparent none;
										transform: scale(1.25);

										&:before {
											color: #fff;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.logged-in.admin-bar {
		& header#dantes-header.dantes-header {
			& #dantes-header--inner.dantes-header--inner {
				top: 32px;
			}
		}
	}
}

/* Responsive: Push Layout */
@media screen and (max-width: 976px) {
	html {
		overflow-x: hidden;
	}

	body {
		position: relative;
		left: 0%;
		margin-top: 95px !important;
		transition: all 0.15s ease-out;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			z-index: 99;
			background-color: #fff;
			background-color: rgba(255, 255, 255, 0.85);
			opacity: 0;
			visibility: hidden;
			transition: all 0.15s ease-out;
			transform-origin: center center;
			content: "";
		}

		& header#dantes-header.dantes-header {
			& #dantes-header--nav.dantes-header--nav {
				& > .dantes-header--logo {
					width: 125px;

					& > a {
						height: 95px;
					}
				}

				& > ul {
					display: block;
					position: fixed;
					top: 0;
					left: 0;
					width: 0%;
					height: 100%;
					overflow-y: auto;
					float: none;
					padding: 64px 0 15px 0;
					background: #f0f0f0;
					background-image: url(../images/bg-tile-darker.jpg);
					background-repeat: repeat;
					background-position: center center;
					box-shadow: -3px -5px 8px rgba(0, 0, 0, 0.35) inset;
					transition: all 0.15s ease-out;

					& > li {
						display: block;
						clear: both;
						float: none;
						max-width: none;
						font-size: 18px;
						line-height: 16px;

						& > a {
							display: block;
							width: auto;
							height: auto;
							margin: 0;
							padding: 10px 0;
							color: #272793;

							& > strong {
								display: block;
								height: auto;
								min-height: 0;
								padding: 0 15px !important;
								align-items: inherit;
								font-weight: bold;
								text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
							}
						}

						&.dantes-header--nav__search {
							position: absolute;
							top: 0;
							left: auto;
							right: 0;

							& > a {
								display: block;

								&:after {
									padding-right: 20px;
									padding-left: 0;
								}
							}

							& > .dantes-header--nav__submenu-search {
								width: 35%;
								box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.35) inset;

								& > form.dantes-header--search {
									& > .dantes-header--search__controls {
										& > label {
											& strong {
												padding-bottom: 15px;
												font-size: 24px;
												line-height: 24px;
											}
										}
										& button[type=reset] {
											transition: none;
											transform: none;

											&:hover,
											&:focus,
											&:active {
												transition: none;
												transform: none;
											}
										}
									}
								}
							}

							@at-root {
								@media screen and (max-width: 768px) {
									body {
										& header#dantes-header.dantes-header {
											& #dantes-header--nav.dantes-header--nav {
												& > ul {
													& > li {
														&.dantes-header--nav__search {
															& > .dantes-header--nav__submenu-search {
																width: 55%;

																& > form.dantes-header--search {
																	& > .dantes-header--search__controls {
																		& > label {
																			& strong {
																				padding-bottom: 15px;
																				font-size: 28px;
																				line-height: 28px;
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
								@media screen and (max-width: 640px) {
									body {
										& header#dantes-header.dantes-header {
											& #dantes-header--nav.dantes-header--nav {
												& > ul {
													& > li {
														&.dantes-header--nav__search {
															& > .dantes-header--nav__submenu-search {
																width: 70%;
															}
														}
													}
												}
											}
										}
									}
								}
								@media screen and (max-width: 480px) {
									body {
										& header#dantes-header.dantes-header {
											& #dantes-header--nav.dantes-header--nav {
												& > ul {
													& > li {
														&.dantes-header--nav__search {
															& > .dantes-header--nav__submenu-search {
																width: 90%;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}

						&.selected {
							& > a {
								background-color: #272793;
								color: #fff;
							}
						}

						& > .dantes-header--nav__submenu {
							display: block !important;
							position: static;
							overflow: hidden;
							width: auto;
							height: 0;
							top: auto;
							left: auto;
							opacity: 0;
							visibility: hidden;
							margin-bottom: 0;
							background: transparent none;
							transition: all 0.25s ease-out;

							& > .dantes-header--nav__submenu-container,
							& > .dantes-header--nav__submenu-container.only-child {
								display: block;
								position: static;
								top: auto;
								width: auto !important;
								margin: 0 0 0 15px !important;
								padding: 0 20px 0 15px !important;
								opacity: 1;
								border-left: 7px #272793 solid;

								& > ul {
									display: block;
									width: auto;
									margin: 0;
									padding: 0;
									border-left: none;

									& > li {
										display: block;
										float: none;
										margin: 0;
										padding: 5px 0;
										font-size: 15px;
										line-height: 15px;
										text-transform: none;
										color: #666;

										& ul {
											display: block;
											height: 0;
											overflow: hidden;
											opacity: 0;
											visibility: hidden;
											padding-top: 0;
											padding-bottom: 0;
											transition: all 0.25s ease-out;

											& > li {
												font-size: 14px;
												line-height: 12px;

												&:before {
													top: 8px;
													font-size: 10px;
													line-height: 10px;
													color: #272793;
												}

												& > a {
													padding-top: 4px;
													padding-bottom: 4px;
													line-height: 16px;
													color: #272793;
												}
											}
										}
										
										&.open {
											& ul {
												height: auto;
												overflow: visible;
												visibility: visible;
												opacity: 1;
												padding-top: 10px;
												padding-bottom: 10px;
											}
										}
									}
								}
							}
						}
						
						&.open {
							& > .dantes-header--nav__submenu {
								height: auto;
								visibility: visible;
								opacity: 1;
								margin-bottom: 15px;
							}
						}
					}
				}

				& ul {
					& li {
						&.has-children {
							position: relative;

							@at-root {
								body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > ul {
												& > li {
													&.has-children {
														& > a {
															padding-right: 60px;
														}
													}
												}
											}
										}
									}
								}
							}

							& > .dantes-header--nav__submenu-drilldown {
								display: block;
								position: absolute;
								top: 0;
								right: 15px;
								width: 34px;
								height: 36px;
								cursor: pointer;
								transform-origin: center;
								transform: rotate(0deg);
								transition: transform 0.15s ease-out;

								&:before {
									display: block;
									font-family: "FontAwesome", sans-serif;
									color: #999;
									line-height: 36px;
									text-align: center;
									content: $fa-var-chevron-down;
								}

								&:hover {
									&:before {
										color: #272793;
									}
								}
							}

							&.open {
								& > .dantes-header--nav__submenu-drilldown {
									transform: rotate(180deg);
								}
							}
						}

						& li.has-children {
							padding-right: 25px !important;

							& > .dantes-header--nav__submenu-drilldown {
								top: -5px;
								right: -5px;
								font-size: 12px;

								&:before {
									color: #272793;
								}
							}
						}
					}
				}

				& > .dantes-header--nav__control {
					display: block;
					position: relative;
					top: 0;
					width: auto;
					float: none;
					height: 1px;
					min-height: 1px;
					padding: 0;
					margin: 0;
					font-size: 0;
					text-decoration: none;
					line-height: 0;

					@at-root {
						@media screen and (max-width: 976px) {
							html.dantes-header--search-open {
								& body {
									& header#dantes-header.dantes-header {
										& #dantes-header--nav.dantes-header--nav {
											& > .dantes-header--nav__control {
												display: none;
											}
										}
									}
								}
							}
						}
					}

					&:before,
					&:after {
						@include fa-icon;
						display: block;
						display: flex;
						position: absolute;
						height: 26px;
						align-items: center;
						font-size: 34px;
						line-height: 26px;
						color: #999;
						text-align: center;
					}
					&:before {
						top: (95px - 26px) / 2;
						right: 0;
						opacity: 1;
						visibility: visible;
						content: $fa-var-bars;
					}
					&:after {
						top: 15px;
						left: -5px;
						opacity: 0;
						visibility: hidden;
						content: $fa-var-times;
					}
				}
			}
		}
	}

	html.dantes-header--open {
		body {
			left: 35%;
			transition: all 0.35s ease-out;

			&:before {
				width: 100%;
				height: 100%;
				opacity: 1;
				visibility: visible;
				transition: all 0.35s ease-out;
			}

			& header#dantes-header.dantes-header {
				& #dantes-header--nav.dantes-header--nav {
					& > ul {
						width: 35%;
						left: 0%;
						transition: all 0.35s ease-out;
					}

					& > .dantes-header--nav__control {
						&:before {
							opacity: 0;
							visibility: hidden;
							transition: all 0.15s ease-out;
						}
						&:after {
							opacity: 1;
							visibility: visible;
							transition: all 0.25s ease-out 0.15s;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		& header#dantes-header.dantes-header {
			& #dantes-header--nav.dantes-header--nav {
				& > ul {
					left: -55%;
				}
			}
		}
	}

	html.dantes-header--open {
		body {
			left: 55%;

			& header#dantes-header.dantes-header {
				& #dantes-header--nav.dantes-header--nav {
					& > ul {
						width: 55%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	body {
		& header#dantes-header.dantes-header {
			& #dantes-header--nav.dantes-header--nav {
				& > ul {
					left: -70%;
				}
			}
		}
	}

	html.dantes-header--open {
		body {
			left: 70%;

			& header#dantes-header.dantes-header {
				& #dantes-header--nav.dantes-header--nav {
					& > ul {
						width: 70%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	body {
		& header#dantes-header.dantes-header {
			& #dantes-header--nav.dantes-header--nav {
				& > ul {
					left: -90%;
				}
			}
		}
	}

	html.dantes-header--open {
		body {
			left: 90%;

			& header#dantes-header.dantes-header {
				& #dantes-header--nav.dantes-header--nav {
					& > ul {
						width: 90%;
					}
				}
			}
		}
	}
}
