@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Text.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Text.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Text.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Text.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Text.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-TextOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-TextOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-TextOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-TextOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-TextOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Thin.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Thin.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Thin.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Thin.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Thin.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-ThinOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-ThinOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-ThinOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-ThinOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-ThinOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Light.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Light.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Light.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Light.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Light.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-LightOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-LightOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-LightOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-LightOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-LightOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Medium.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Medium.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Medium.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Medium.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Medium.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-MediumOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-MediumOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-MediumOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-MediumOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-MediumOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Bold.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Bold.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Bold.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Bold.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Bold.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-BoldOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-BoldOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-BoldOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-BoldOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-BoldOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-Heavy.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-Heavy.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-Heavy.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-Heavy.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-Heavy.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Articulat CF';
    src:    url('../fonts/articulat-cf/ArticulatCF-HeavyOblique.eot?eigb7b');
    src:    url('../fonts/articulat-cf/ArticulatCF-HeavyOblique.eot?eigb7b#iefix') format('embedded-opentype'),
            url('../fonts/articulat-cf/ArticulatCF-HeavyOblique.ttf?eigb7b') format('truetype'),
            url('../fonts/articulat-cf/ArticulatCF-HeavyOblique.woff?eigb7b') format('woff'),
            url('../fonts/articulat-cf/ArticulatCF-HeavyOblique.svg?eigb7b#ArticulatCF') format('svg');
    font-weight: 800;
    font-style: italic;
}
