@font-face {
    font-family: 'dantes-icons';
    src:    url('/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b');
    src:    url('/wp-content/themes/dantes/assets/fonts/icons/icomoon.eot?eigb7b#iefix') format('embedded-opentype'),
            url('/wp-content/themes/dantes/assets/fonts/icons/icomoon.ttf?eigb7b') format('truetype'),
            url('/wp-content/themes/dantes/assets/fonts/icons/icomoon.woff?eigb7b') format('woff'),
            url('/wp-content/themes/dantes/assets/fonts/icons/icomoon.svg?eigb7b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin dantes-icon-font() {
    &:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'dantes-icons', sans-serif;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

[class^="icon-dantes-"], [class*="icon-dantes-"], .sow-icon-dantes {
    &:before {
        @include dantes-icon-font();

        font-family: 'dantes-icons', sans-serif;
        font-style: normal !important;
    }
}

$icon-dantes-checkmark: "\e900";
$icon-dantes-chat: "\e901";
$icon-dantes-counselor: "\e902";
$icon-dantes-leadership: "\e903";
$icon-dantes-support: "\e904";
$icon-dantes-virtual-ed-fairs: "\e905";
$icon-dantes-chevron-thin-left: "\e906";
$icon-dantes-chevron-thin-right: "\e907";

.sow-icon-dantes[data-value] {
    &:before {
        content: attr(data-sow-icon);
        line-height: 1;
    }
}
.sow-icon-dantes[data-sow-icon] {
    &:before {
        display: inline-block;
        content: attr(data-sow-icon);
        line-height: 1;
    }
}

[class*='icon-dantes-checkmark']:before {
    content: $icon-dantes-checkmark;
}

[class*='icon-dantes-chat']:before {
    content: $icon-dantes-chat;
}

[class*='icon-dantes-counselor']:before {
    content: $icon-dantes-counselor;
}

[class*='icon-dantes-leadership']:before {
    content: $icon-dantes-leadership;
}

[class*='icon-dantes-support']:before {
    content: $icon-dantes-support;
}

[class*='icon-dantes-virtual-ed-fairs']:before {
    content: $icon-dantes-virtual-ed-fairs;
}

[class*='icon-dantes-chevron-thin-left']:before {
    content: $icon-dantes-chevron-thin-left;
}

[class*='icon-dantes-chevron-thin-right']:before {
    content: $icon-dantes-chevron-thin-right;
}

